# Default ignored files
/../../SUBREDDIT COMMUNITIES’ DYNAMIC AND NEWS  PROPAGATION /.idea/shelf/
/../../SUBREDDIT COMMUNITIES’ DYNAMIC AND NEWS  PROPAGATION /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SUBREDDIT COMMUNITIES’ DYNAMIC AND NEWS  PROPAGATION /.idea/httpRequests/
# Datasource local storage ignored files
/../../SUBREDDIT COMMUNITIES’ DYNAMIC AND NEWS  PROPAGATION /.idea/dataSources/
/../../SUBREDDIT COMMUNITIES’ DYNAMIC AND NEWS  PROPAGATION /.idea/dataSources.local.xml
